.Routines {
    list-style: none;
    width: 303px;
}

.RoutineList {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 303px;
}

.RoutineList li {
    list-style: none;
    display: flex;
    text-align: center;
    width: 303px;
}

.RoutineList li a {
    transition: all 0.3s ease 0s;
    
}

.RoutineButton{
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

.morning {
    border-radius: 16px;
    background: var(--morning-deep-yellow);
    padding-top: 6px;
    padding-left: 16px;
    padding-bottom: 8px;
    font-weight: bold;
    text-align: left;
}

.day {
    border-radius: 16px;
    background: var(--day-deep-green);
    padding-top: 6px;
    padding-left: 16px;
    padding-bottom: 8px;
    font-weight: bold;
    text-align: left;
}

.night {
    border-radius: 16px;
    background: var(--night-deep-blue);
    padding-top: 6px;
    padding-left: 16px;
    padding-bottom: 8px;
    font-weight: bold;
    text-align: left;
    color: white;
}

.sub-routines-box {
    display: flex;
    flex-direction: column;
    width: 303px;
    margin-right: 50px;
}

.sub-routines-box li {
    padding-bottom: 10px;
}