.graphContainer {
    width: 100%;
    /* margin-top: 30px; */
    margin-left: -18px;
    /* margin-bottom: 30px; */
}

.title {
    font-family: 'Pretendard';
    font-size: 32px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: -8px;
    float: left;
}

.dateinfo {
    font-family: 'Pretendard';
    margin-top: 8px;
    font-size: 24px;
    color: #999999;
}

.subtitle {
    font-family: 'Pretendard';
    font-size: 18px;
    margin-top: 8px;
    margin-right: 50px;
    color: #666666;
}

.comment {
    font-family: 'Pretendard';
    font-size: 16px;
    /* margin-top: -18px; */
    margin-bottom: 52px;
    margin-left: 50px;
    color: #999999;
}

.toggle-container {
    float: right;
    display: flex;
    align-items: center;
  }
  
.toggle-button {
  background: #eeeeee;
  width: 54px;
  height: 26px;
  border-radius: 26px;
  padding: 3px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  display: inline-block;
}

.toggle-button > .inner-circle {
  background: white;
  width: 26px;
  height: 26px;
  border-radius: 26px;
  transition: all 200ms ease-in-out;
}

.toggle-button.active {
  background: #cccccc;
}

.toggle-button.active > .inner-circle {
  margin-left: 26px;
}

.toggle-text {
  font-family: 'Pretendard';
  display: inline-block;
  margin-left: 14px;
  font-size: 16px;
  color: black;
}

.toggle-question {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-left: 4px;
  font-size: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-content {
  font-family: 'Pretendard';
  visibility: hidden;
  width: 360px;
  font-size: 14px;
  background-color: #eeeeee;
  padding-left: 16px;
  margin-top: 12px;
  color: black;
  text-align: left;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
}
.tooltip:hover .tooltip-content {
  visibility: visible;
  top: -100px;
  left: -330px;
  pointer-events: auto;
}

.tooltip:hover .toggle-question {
  opacity: 0.5;
}