.graphContainer {
    width: 100%;
    /* margin-top: 30px; */
    margin-left: -18px;
}

.title {
    font-family: 'Pretendard';
    font-size: 32px;
    margin-right: 50px;
}

.subtitle {
    font-family: 'Pretendard';
    font-size: 18px;
    margin-right: 50px;
    color: #666666;
}