.pageTitle {
    color: #333333;
    font-family: 'Pretendard';
    font-size: 32px;
    margin-bottom: 50px;
}

.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}