button {
    cursor: pointer;
  }
  
.calendarContainer {
    width: 500px;
    height: 550px;
    margin-top: 10px;
    margin-left: -18px;
}
  
.pagination {
    display: -webkit-box;
    align-self: center;
    align-content: flex-end;
    margin-left: auto;
    font-size: 45px;
    font-weight: 700;
    color: black;
    margin-left: -48px;
}
.pagination .monthName {
    width: 100px;
    text-align: center;
}
.pagination button {
    margin: 0 20px;
    border: none;
    background: none;
}
 
  
.week {
    display: flex;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
}

.week div{
    width: calc(500px / 7);
    height: calc(500px / 7);
    float: left;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.date div{
    width: calc(500px / 7);
    height: calc(500px / 7);
    float: left;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    margin-top: -10px;
    margin-bottom: 5px;
    color: #555555;
    font-size: 16px;
    font-weight: 400;
}
.date .outline {
    width: 50px;
    height: 50px;
}
.date .today .outline{
    width: 45px;
    height: 45px;
    text-align: center;
    float: left;

    background-color: rgb(255, 255, 255);
    border-radius: 45px;
    border: 5px solid #E05634;
}

.outline {
    transition: all 0.3s ease 0s;
}

.outline:hover {
    opacity: 0.5;
}

.saturday {
    color: #2D7AF6;
}
.sunday {
    color: #DA6F68;
}

#mouse-over-popover {
    margin-left: 10px;
}

.tooltipContentsContainer {
    width: 450px;
    height: 120px;
    margin-top: 18px;
    margin-left: 25px;

    font-family: 'Pretendard';
    font-size: 16px;
    color: black
}

.tooltipTitle {
    font-family: 'Pretendard';
    font-size: 18px;
}

.tooltipTable {
    margin-top: 10px;
}
.tooltipTable tr {
    height: 30px;
}

.tooltipTable .firstCol{
    width: 50px;
}
.tooltipTable .secondCol{
    width: 200px;
}
.tooltipTable .thirdCol{
    width: 200px;
}
.tooltipIcon {
    width: 12px;
    height: 12px;
    border-radius: 12px;
}