.heatmapContainer {
    width: 700px;
    margin-left: 30px;
    /* margin-top: 15px; */
}

.heatUnit {
    display: flex;
    align-items: center;
}

.heatRow {
    width: 600px;
    height: 50px;
    margin-bottom: 12px;
}

.emptySpace {
    width: 115px;
}
.outline{
    width: 50px;
    height: 50px;
    text-align: center;
    float: left;
    margin-left: 12px;

    cursor: pointer;
}

.heatmapLabel {
    display: flex;
    font-size: 14px;
    font-weight: 700;
}
.heatmapLabel div{
    width: calc(500px / 7);
    float: left;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}