.profileBox {
    font-family: 'Pretendard';
    font-size: 20px;
    color: black;
    min-width: 180px;

    display: flex;
    align-items: center;

    margin-bottom: 15px;
}

.userIcon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    position: absolute;
    border-radius: 50px;
}
.minusIcon {
    width: 32px;
    height: 32px;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 10px;
    background: #ccc;
    border-radius: 50px;
}
.userIcon-nonclick {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.userIcon :hover {
    transition: all 0.4s;
    background: none;
    color: transparent;
}