.pageTitle {
    color: #333333;
    font-family: 'Pretendard';
    font-size: 32px;

    margin-bottom: 20px;

    display: -webkit-inline-box;
}

.emptySpace{
    height:50px;
}

.addIcon {
    display: flex;
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-top: 7px;

    border-radius: 25px;
    background-color: rgba(255, 255, 255);

    box-shadow: 0px 4px rgb(163, 163, 163, 0.1);
}
.addIconPlus :hover {
    color: rgba(199, 199, 199, 0.5);
    box-shadow: 0px 6px rgb(163, 163, 163, 0.2);
    transition: all 0.3s;
}

.heatmapView {
    display: flex;
    flex-direction: row;
}

.subtitle {
    width: 100%;
    font-size: 16px;
    color: #666666;
    margin-bottom: 15px;
    margin-left: 5px;
}

.heatmapDate {
    font-size: 16px;
    font-weight: bolder;
    color: #999;
}