@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.App {
  text-align: center;
  font-family: 'Pretendard';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pageBox {
    width: 1112px;
    margin-left: calc((100% - 1112px) / 2);
    margin-right: calc((100% - 1112px) / 2);
    margin-top: 30px;
}

.box-container {
  display: flex;
  justify-content: space-between;
}

:root {
  --morning-deep-yellow: #FFCA2D;
  --morning-light-yellow: #FFE9A9;
  --day-deep-green: #8CD735;
  --day-light-green: #D8EDC0;
  --night-deep-blue: #3F51B5;
  --night-light-blue: #CED3F0;
}